<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="div-name-application text-center">
            <span class="name-application white">
                <strong> CHALLENGE - MARVEL API </strong>
            </span>
            <a href="#/logout">
                <div class="pull-right cursor-pointer container-link-top">
                    <i class="fa fa-power-off fa-2x white" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</nav>
